{% extends 'base.html.twig' %}

{% block body %}

<div class="home-container">
  <div class="home-left">
    <img src="{{ asset('assets/images/cooking-home-img.jpg') }}" alt="">
  </div>
  <div class="home-right">
    <h1>Bienvenue sur COOKING</h1>
    <a href="{{ path('app_recipe_index') }}" class="btn">Voir les recettes</a>
  </div>
</div>
{% endblock %}