<form method="post" action="{{ path('app_weekly_menu_delete', {'id': weeklyMenu.id}) }}" onsubmit="return confirm('Êtes-vous sûr(e) de vouloir supprimer ce menu ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ weeklyMenu.id) }}">
    <button class="btn">Supprimer</button>
</form>
