{% extends 'base.html.twig' %}

{% block title %}Menus{% endblock %}

{% block body %}
<section id="weekly-menu-index">

    <h1>Menus à la semaine</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for weeklyMenu in weeklyMenus %}
            <tr>
                <td>{{ weeklyMenu.title }}</td>
                <td>
                    <div class="title-control-flex">
                        <a href="{{ path('app_weekly_menu_show', {'id': weeklyMenu.id}) }}" class="btn">Voir</a>
                        {% include "weekly_menu/_delete_form.html.twig" %}
                    </div>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="3">Aucun menu trouvé</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <br>

    <a href="{{ path('app_weekly_menu_new') }}" class="btn">Créer un menu</a>
</section>
{% endblock %}