{% extends 'base.html.twig' %}

{% block title %}New WeeklyMenu{% endblock %}

{% block body %}
    <h1>Create new WeeklyMenu</h1>

    {{ include('weekly_menu/_form.html.twig') }}

    <a href="{{ path('app_weekly_menu_index') }}">back to list</a>
{% endblock %}
