{% extends 'base.html.twig' %}

{% block title %}Créer un menu de la semaine{% endblock %}

{% block body %}
<section class="add-weekly-menu">
    <h1>Créer un menu de la semaine</h1>
    
    {{ include('weekly_menu/_form.html.twig') }}

</section>

{% block javascripts %}
<script src="{{ asset('assets/js/weeklyMenu.js') }}"></script>
{% endblock %}
{% endblock %}
