nav {
  position: fixed !important;
  top: 0;
  z-index: 1000;
  background-color: var(--blue-color) !important;
  box-shadow: none;

  a {
    color: var(--primary-color) !important;
  }
}

.nav-wrapper {
  margin: 0 24px;
}

.brand-logo img {
  vertical-align: middle;
}

#dropdown1 {
  width: 144px !important;
  left: 90% !important;
}