nav {
  background-color: var(--blue-color) !important;
  box-shadow: none;

  a {
    color: var(--primary-color) !important;
  }
}

.nav-wrapper {
  margin: 0 24px;
}

.brand-logo {
  font-size: 2em !important;
}

#dropdown1 {
  width: 144px !important;
  left: 90% !important;
}