:root {
  --body-bg: white;
  --primary-color: rgb(0, 0, 0);
  --blue-color: #e9f2f7;
  --grey-color: #9a9ea0;
}

body {
    height: 100vh;
    background: var(--body-bg);
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    color: var(--primary-color);
}

body,
html {
  overflow: hidden;
  margin: 0;
}

.main-container {
  overflow-y: auto;
  height: 85vh;
  margin: 0 30px;
}

a {
  text-decoration: none;
  color: var(--blue-color);
}

.flex-left-right {
  display: flex;
}
.flex-left,
.flex-right {
  width: 50%;
}