:root {
  --body-bg: white;
  --primary-color: rgb(0, 0, 0);
  --blue-color: #f7f7f7;
  --grey-color: #b9c2c7;
  --btn-color: #97cae6;
  --btn-color-hover: #6a8da0;
  --btn-danger-color: #e69797;
  --btn-danger-color-hover: #aa6c6c;
}

body {
  height: 100vh;
  background: var(--body-bg);
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  color: var(--primary-color);
}

body,
html {
  overflow: hidden;
  margin: 0;
}

.main-container {
  overflow-y: auto;
  height: 85vh;
  margin: 0 30px;
}

a {
  text-decoration: none;
  color: var(--blue-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: lighter;
  user-select: none;
}

h1 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
}

select {
  display: block !important;
}

textarea {
  margin-top: 20px;
}

.hr-custom {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.btn {
  background-color: var(--btn-color);
  font-weight: bold;

  &:hover {
    background-color: var(--btn-color-hover);
  }
}

.btn-danger {
  background-color: var(--btn-danger-color);

  &:hover {
    background-color: var(--btn-danger-color-hover);
  }
}

.validate-btn {
  margin-top: 20px;
}