{% extends 'base.html.twig' %}

{% block title %}Recettes index{% endblock %}

{% block body %}
<h1>Recettes</h1>

<div class="row">
    {% for recipe in recipes %}
    <div class="col s6 m3">
        <div class="card">
            <div class="card-image">
                <img src="{{ asset(recipe.image) }}">
                <span class="card-title">{{ recipe.title }}</span>
            </div>
            <div class="card-content">
                <p> {{ recipe.description }} </p>
            </div>
            <div class="card-action">
                <a href="{{ path('app_recipe_show', {'id':recipe.id}) }}">Voir la recette</a>
            </div>
        </div>
    </div>
    {% else %}
    <tr>
        <td colspan="7">Aucune recette trouvée</td>
    </tr>
    {% endfor %}
</div>
{% endblock %}

